<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your valuation inquiry, <%= @prospect.name %></h1>
    <p>
      Your search for <%= @prospect.street %> showed a value between <%= @property.price %> A member of our team will contgact you within 48 hours regarding your inquiry.
    </p>
    <p>
      To look for another valuation, just follow this link: <%= @url %>.
    </p>
  </body>
</html>