<h1>Enter a property address</h1>
<%= simple_form_for :search, url: new_prospect_path, method: :get do |f| %>
  <%= f.input :address %>
  <%= f.input :citystatezip, label: "City, State Zip"%>
  <%= f.submit 'Get Home Value'%>	
<% end %>

<% session[:address] %>
<% session[:citystatezip] %>

<div class="clear"></div>
	<footer class="footer">
		<div class="container">
			<div class="fixed">
				<p>Lee Barrison. Miramar Real Estate. 661-213-6857. DRE # 01320067<br> © 2014 TallKeith/ForTheArt Designs</p>
			</div>
		</div>
	</footer>