body {
	background-image: url('28.jpg');
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

h1, h2 {
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
}

p {
	text-align: center;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  float: left;
}

.contact_info {
	
}

